
div#wrapper{
    margin:  0 auto;
    padding: 0;
    border:  0;
    width: 1129px;
    text-align: left;
}

div#header{   
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    width: 1110px;
    height: 65px;
}

div#logo{
    margin: 5px 0 5px 12px;
    padding: 0;
    border: 0;
    float: left; 
    width: 142px;
    /*height: 55px;*/
}

div#login{
    /*width: 1110px;*/
    margin: 0 12px 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-align: right;
    /*height: 55px;*/
}

nav#navFir{
    height: 55px;
    width: 1100px;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    background: #fff;
}

ul#menu{
    height: 55px;
    width: 1100px;
    padding: 0;
    margin: 0;
    background: #cfe2f3;
    position: relative;       
}

li {
    height: 55px;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    line-height: 55px; 
}

li#a{
    float: left;
}
li#b{
    overflow: hidden;
}
li#c{
    overflow: hidden;
}

a:link{
    color: #000000;
    text-decoration: none;
}

