<!DOCTYPE html>
<html>
<head>
    <title><!--{% block title %}{% endblock %}--></title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/IndexBase.css"></link>
    <meta charset="UTF-8" />
</head>
<body>
    <div id="wrapper">
        <div id="cnts">
            <div id="hd_info">
                <div id="site_nav_top">代码改变世界</div>
                <div id="login">
                    <span id="user_info">
                        [<a href="#">登录</a>|<a href="#">注册</a>]
                    </span>
                </div>
            </div>
        </div>
        <div id="header">
            <div id="logo">
                <a href="/Index.html" title="Blog World">
                    <img src="/static/Img/logo_small.gif" alt="MyLogo" height="55" width="142"></img>
                </a>
            </div>
           
        </div>
        <div id="navFir">
            <ul id="menu">
                <li><a href="">园子</a></li>
                <li><a href="">新闻</a></li>
                <li><a href="">博问</a></li>
                <li><a href="">闪存</a></li>
                <li><a href="">小组</a></li>
                <li><a href="">收藏</a></li>
                <li><a href="">招聘</a></li>
                <li><a href="">知识库</a></li>
                <li><a href="">找找看</a></li>
            </ul>
        </div>
        <div id="navSec"></div>
        <div id="maincontent"></div>
        <div id="footer"></div>
    </div>
</body>
</html>