<!DOCTYPE html>
<html>
<head>
    <title><!--{% block title %}{% endblock %}--></title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/IndexBase.css"></link>
    <meta charset="UTF-8" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <a href="/Index.html" title="Blog World">
                    <img src="/static/Img/logo_small.gif" alt="MyLogo" height="55" width="142"></img>
                </a>
            </div>
            <div id="login">
                <span id="user_info">
                    [
                    <a href="login.html">登录</a>
                    |
                    <a href="register.html">注册</a>
                    ]
                </span>
            </div>
        </div>
        <nav id="navFir">
            <ul id="menu">
                <li id="a">
                    <a href="">首页</a>
                </li>
                <li id="b">
                    <a href="">第二首页</a>
                </li>
                <li id="c">
                    <a href="">第三个首页</a>
                </li>
            </ul>
        </nav>
        <div id="navSec"></div>
        <div id="maincontent"></div>
        <div id="footer"></div>
    </div>
</body>
</html>